body{
  background-color:	hsl(216, 6%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

select{
  display: block;
  text-align: center;
  margin: 30px auto;
  background-color:hsl(216, 6%, 16%) ;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  font-family: roboto;
  text-transform: uppercase;
  color: hsl(216, 6%, 26%);
  box-shadow: 
    hsl(216, 6%, 16%) 0px 0px 2px 2px,
    hsl(216, 6%, 26%) 4px 4px 8px,
    hsl(216, 6%, 5%) -4px -4px 8px;;

}

.select,
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: none;
  border-radius: 5px;
  width: 600px;
  height: 800px;
  text-align: center;
  padding: 30px;
  box-shadow: 
    hsl(216, 6%, 16%) 0px 0px 3px 3px,
    hsl(216, 6%, 26%) 6px 6px 10px,
    hsl(216, 6%, 5%) -6px -6px 10px;
}

.select h2{
  color: hsl(216, 6%, 26%);
  font-family: roboto;
  text-transform: uppercase;
  font-size: 2em;
}

.card img{
  max-width: 300px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}

p{
  font-size: 1.2em;
}

.card p span{
  color: hsl(216, 6%, 26%);
  font-family: roboto;
  font-weight: 600;
}

.card p{
  color: hsl(216, 6%, 26%);
  font-family: roboto;
}
.card h2{
  color: hsl(216, 6%, 26%);
  font-family: roboto;
}

img{
  max-width: 300px;
}