body{
  background-color:	hsl(216, 6%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

/****** SELECT INPUT ******/

select{
  display: block;
  text-align: center;
  margin: 30px auto;
  background-color:hsl(216, 6%, 16%) ;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  font-family: roboto;
  text-transform: uppercase;
  color: hsl(216, 6%, 26%);
  box-shadow: 
    hsl(216, 6%, 16%) 0px 0px 2px 2px,
    hsl(216, 6%, 26%) 4px 4px 8px,
    hsl(216, 6%, 5%) -4px -4px 8px;;

}

/****** COUNTRY INFO CARD ******/

.select,
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  border: none;
  border-radius: 5px;
  width: 600px;
  height: 800px;
  text-align: center;
  padding: 30px;
  box-shadow: 
    hsl(216, 6%, 16%) 0px 0px 3px 3px,
    hsl(216, 6%, 26%) 6px 6px 10px,
    hsl(216, 6%, 5%) -6px -6px 10px;
}

.select h2{
  color: hsl(216, 6%, 26%);
  font-family: roboto;
  text-transform: uppercase;
  font-size: 2em;
}

.delete{
  font-size: 2em;
  position: absolute;
  top: 20px;
  right:20px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  color: hsl(216, 6%, 26%);
}

.delete:hover{
  transform: scale(1.2);
  color: hsl(216, 6%, 46%);
}

.card img{
  max-width: 300px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}

p{
  font-size: 1.2em;
}

.card p span{
  color: hsl(216, 6%, 26%);
  font-family: roboto;
  font-weight: 600;
}

.card p{
  color: hsl(216, 6%, 26%);
  font-family: roboto;
}
.card h2{
  color: hsl(216, 6%, 26%);
  font-family: roboto;
}

img{
  max-width: 300px;
}

/****** MODAL ******/

.modal{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 70%;
  background-color: hsl(216, 6%, 26%);
  padding: 30px;
  border: 2px solid hsl(216, 6%, 26%);
  border-radius: 5px;
  box-shadow: hsl(216, 6%, 10%) 3px 3px 6px
}

.modal p{
  font-family: roboto;
  font-weight: 600;
  color: hsl(216, 6%, 16%);
}

.modal button{
  margin: 10px 40px;
  padding: 12px 40px;
  background-color: hsl(216, 6%, 26%);
  color: hsl(216, 6%, 16%);
  font-family: roboto;
  font-weight: 600;
  font-size: 1.1em;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  box-shadow:
  hsl(216, 6%, 26%) 0px 0px 2px 2px,
  hsl(216, 6%, 10%) 3px 3px 6px,
  hsl(216, 6%, 40%) -3px -3px 6px;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.modal button:hover{
  transform: scale(1.2);
}